<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
    data-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h6 class="font-weight-bolder mb-0">Espace personnel <span class="dashboard-street">accueil</span></h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group input-group-outline">
                    <label class="form-label">Rechercher ?</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                    <!-- <a class="auth nav-link text-body font-weight-bold px-0" (click)="displayList()">
                        <span class="transi d-sm-inline d-none me-2">{{authName}}</span>
                        <i class="fa-solid fa-chevron-up" *ngIf="stateClick"></i>
                        <i class="fa-solid fa-chevron-down" *ngIf="!stateClick"></i>
                    </a> -->
                    <ul class="display-list">
                        <li class="li"><a href="#">Profil</a></li>
                        <li class="li"><a href="dashboard/articles">Espace personnel</a></li>
                        <li class="li"><a href="">Deconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>