/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root
{
  --bgcolor:#3b71ca;
}
.btn-danger {
  background-color: #e91e63;
}
.login-btn {
  background-color: black !important;
}
.dash-contanier {
  display: flex;
}

.dash-contanier .left {
  width: max-content !important;
}

.dash-contanier .right {
  height: 100vh;
  // background-color: red;
  width: 100%;
  padding: 50px;
  overflow-y: auto;
}